@model PresentationLogic.Models.Moto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Moto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.IdMoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cilindrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cilindrada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
