@model IEnumerable<PresentationLogic.Models.Moto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cilindrada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdMoto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Patente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cilindrada)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdMoto }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdMoto }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdMoto }) |
        @Html.ActionLink("Desperfectos", "Vehiculos", "Desperfecto", new { id = item.IdMoto }, null)
        @Html.ActionLink("Presupuesto", "Vehiculos", "Desperfecto", new { id = item.IdMoto }, null)
    </td>
</tr>
}

</table>
